@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<StudentPortal.Web.Models.Entites.Student>

<h1>Students</h1>
<a class="btn btn-danger" asp-controller="Students" asp-action="Add">Add</a>
<table class="table" id="tblList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table id="tblOrg" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<button type="button" class="btn btn-primary" id="btnTest">Test</button>

<div id="theForm">
    <form>
        <label for="time">Time</label>
        <input type="text" name="time" id="time"/>
    </form>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.3/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>

<script>
    // document.addEventListener("DOMContentLoaded", InitializeDatatable);

    // function InitializeDatatable() { 
    //     $("#tblOrg").DataTable();
    // };
    $(document).ready(function () { 
        
        $.noConflict();
        //alert('test 12');
        //alert($('#tblOrg').html());

        // $('#btnTest').click(function () {
        //     alert('test test');
        // });
       
        // $('#tblList').DataTable();

        let table = new DataTable('#tblList', {
            // options
        });

        loadStudent();
    })

    function loadStudent(){
        var empdata = [];
        $.ajax({
            type: "GET",
            url: "/Students/GetAll",
            async: true,
            success: function(data) {
                console.log(data);

                $.each(data, function(key, value) {
                    empdata.push([value.id, value.name, value.email, '']);
                });

                console.log(empdata);

                $('#tblOrg').DataTable({
                    data: empdata
                });

                // $.each(data, function(key, value) {
                //     var editbtn = "<a onclick='FunEdit(this)' class='btn btn-primary'>Edit</a>";
                //     var removebtn = "<a onclick='FunRemove(this)' class='btn btn-danger'>Remove</a>";
                //     var hdn = "<input type='hidden' value=" + value.code + " />";
                //     var action = editbtn +" | "+ removebtn + hdn;
                //     empdata.push([value.code, value.name, value.email, value.phone, value.designation,action])
                // })
            },
            failure: function(err) {

            }
        });
    }

    const showBtn = document.getElementById("btnTest");
    const theForm = document.getElementById("theForm");

    if (theForm) { theForm.hidden = true; }

    showBtn.addEventListener("click", function () {
        alert('test 2');
        //document.getElementById("tblList").DataTable();

        // let table = new DataTable('#tblList', {
        //     // options
        // });

        if (theForm.hidden) {
            showBtn.innerText = "Hide";
            theForm.hidden = false;
        } else { 
            theForm.hidden = true;
            showBtn.innerText = "Show";
        }
    });
</script>
