@page
@model IndexModel
@{
    //var productName = "Free Billing";

    //throw new Exception("Bad things happen.");
    ViewBag.Title = "Home Page";
    // Layout = "_Layout"; ---> delegated to _ViewStart.cshtml
}

<h1>Empty</h1>
<p>Welcome to Empty Site. This is the default page.</p>
<p>@ViewBag.Title is great.</p>

@* <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@productName</title>
</head>
<body>
    <h1>Empty</h1>
    <p>Welcome to Empty Site. This is the default page.</p>
    <p>@productName is great.</p>
</body>
</html> *@
